<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
    <title>Record Attendance - Examination Attendance System</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/
6.2.0/css/all.min.css" integrity="sha512-xh6O/
CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUH
USCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    

	<script type="text/javascript">
	function checkStudent(){ 

		window.location.href= window.location.pathname+"?matricNo="+ document.getElementById('StudentId').value;
	} 
	function validateStudentId(event){
		if(document.getElementById('studentIdVal').value == '0'){
			event.preventDefault();
			alert('error')
		}
	}
  	</script>
</head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>


    <div class="container-fluid">
        <h2 class="text-center">[[${pageTitle}]]</h2>
        <style>
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
</style>
        
 <img src="https://www.utem.edu.my/templates/yootheme/cache/36/LogoUTeM-36e05019.webp" alt="Utem Logo" class="center">
        <div class="my-3">
            <form th:action="@{/examinationattendance/save}" method="post" enctype="multipart/form-data"
                th:object="${examinationAttendance}" style="max-width: 550px; margin: 0 auto">
                <input type="hidden" th:field="*{ExamAttendId}" />
				
                <div class="p-3">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="StudentId">Matric Card</label>
                        <div class="col-sm-9">
                            <input type="text" th:field="*{StudentId.StudentMatricNo}" required minlength="1"
                             maxlength="10" class="form-control" id="StudentId" />
                             <input id="studentIdVal" type="hidden" th:field="*{StudentId.StudentId}"> 
                             <input type="hidden" th:field="*{Examination.ExaminationId}"> 
                       		 <input onclick="checkStudent()" type="button" value="Check" class="btn btn-primary btn-sm mr-2" />
                       		 <div  th:if="${studId != null}">
                       		 	<p>[[${studId.StudentName}]]</p>
                       		 </div>
                       		 <div  th:if="${studId == null}">
                       		 	<p>not found !</p>
                       		 </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="Reader" >Reader Input</label>
                        <div class="col-sm-9">
                
                        
                         <select name="Reader" id="Reader" th:field="*{InputType}">
        <option  th:value="MatricCard" th:text="MatricCard"></option>
        <option  th:value="Fingerprint" th:text="Fingerprint"></option>
        <option  th:value="QrCode" th:text="QRCode"></option>
        <option  th:value="SelfCheck-In" th:text="SelfCheck-In"></option>
        </select>
                        <br>
                        <label>
  <input type="radio" name="attendance" value="hadir" th:field="*{ExamAttendStatus}" th:checked="${ExamAttendStatus == 'hadir'}">
  Hadir
</label>
                        </div>
                    </div>

                    <div class="text-center">
                        <input type="submit" value="Save" class="btn btn-primary btn-sm mr-2" onclick="validateStudentId(event)" />
                        <input type="button" value="Cancel" id="btnCancel" class="btn btn-secondary btn-sm" />
                    </div>
                </div>
            </form>
        </div>
    </div>

   <div th:replace="~{fragments/footer :: footer}"></div>



    <script type="text/javascript">
        $(document).ready(function() {
            $("#btnCancel").on("click", function() {
                window.location = "[[@{/examinationAttendance}]]";
            });
        });
    </script>
    
</body>

</html>