<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />  
    <title>Schedule - Examination Attendance System</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<marquee direction = "right" scrollamount = "15"> Examination Attendance System BITP3123 Group 10</marquee>
    <!---
        <div class="topnav">
        <a class="Home" href="home.html">Home</a>
        <a href="schedule.html">Examination Schedule</a>
        <a href="attendance.html">Attendance Report</a>
        <a href="AttendanceVenue.html">Attendance By Venue</a>
      </div>
    <br>
    -->
<body>
   <div th:replace="fragments/header :: header"></div>
   <div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
    <h2 class="text-center">Examination Schedule Generation</h2>
   
   <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
   role="alert">
   [[${message}]]
   <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
  
  <!--
  <h4>
      <b id = "type1">Name:</b>
      <input type="Input Your Matric Card" style = "margin-left: 0.5%; width: 25%; height: 5%;">
      <b id = "type2" style = "margin-left: 5.5%;">Faculty:</b>
      <input type="Input Your Matric Card" style = "margin-left: 3.5%; width: 15%; height: 5%;">
      <b id = "type2" style = "margin-left: 5.5%;">Year of Study:</b>
      <input type="Input Your Matric Card" style = "margin-left: 3.5%; width: 8%; height: 5%;">

      <br><br>
      <label>Matric Number:</label>
      <input type="Input Your Matric Card" style = "margin-left: 2%; width: 18.5%; height: 5%;">
      <b id = "type2" style = "margin-left: 5%;">Course:</b>
      <input type="Input Your Matric Card" style = "margin-left: 3.5%;width: 25%; height: 5%;">
      
      <br><br>
      <label>Phone Number:</label>
      <input type="Input Your Matric Card" style = "margin-left: 2%; width: 18.5%; height: 5%;">
      <b id = "type2" style = "margin-left: 5%;">Session/Group:</b>
      <input type="Input Your Matric Card" style = "width: 25%; height: 5%;">

      <br><br>
    
      <table border="5px" cellpadding="4" cellspacing="4">
          <tr><td colspan = "5" style="text-align: center; font-family: Century Gothic; font-size: 25px; margin-left: 10%;"><b> 
            Examination for Semester 2 Year 2022/2023 </b></td></tr>
            <tr>
              <th style="width:150px">Subject Code</th>
              <th style="width:400px">Subject Name</th>
              <th style="width:150px">Date</th>
              <th style="width:150px">Time</th>
              <th style="width:200px">Venue</th>
          </tr>
      </table>
    -->
    <!--
    <div th:if="${examTypes.size()>0"}>
      <table class ="table table-hover table-responsive-xl">
        <thead class = "thead-light">
          <tr>
            <th style="width:150px" scope="col">Subject Code</th>
            <th style="width:400px" scope="col">Subject Name</th>
            <th style="width:150px" scope="col">Date</th>
            <th style="width:150px" scope="col">Time</th>
            <th style="width:200px" scope="col">Venue</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="examlist:${examTypes}">
              <th scope = "row">[[${examlist.SubjectId}]]</th>
              <td>[[${examlist.SubjectName}]]</td>
              <td>[[${examlist.ExaminationDate}]]</td>
              <td>[[${examlist.ExaminationTime}]]</td>
              <td>[[${examlist.UnitId}]]</td>
          </tr>
        </tbody>
      </table>
    </div>
  -->

  <div th:if="${examTypes.size() > 0}">
    <table class="table table-hover table-responsive-xl">
      <thead class="thead-light">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Subject Id</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="examType : ${examTypes}">
          <th scope="row">[[${examType.ExaminationId}]]</th>
          <td>[[${examType.ExaminationDate}]]</td>
          <td>[[${examType.ExaminationTime}]]</td>
          <td>[[${examType.SubjectId}]]</td>
          <td>
            <!-- A link to edit an order type -->
            <a th:href="@{'/ordertype/' + ${orderType.orderTypeId}}" 
              title="Edit this order type"
              class="fa-regular fa-pen-to-square icon-dark"></a>
            &nbsp;
            
            <!-- A link to delete an order type -->
            <a th:href="@{'/ordertype/delete/' + ${orderType.orderTypeId}}" 
            th:orderTypeCode="${orderType.code}" id="btnDelete"
              title="Delete this order type" 
              class="fa-regular fa-trash-can icon-dark btn-delete"></a>

          </td> 
        </tr>
      </tbody>
    </table>
  </div>

    <div class ="" th:unless="${examTypes.size() > 0}">
        <span>No record found!</span>
    </div>
  </h4>
    <b style ="font-size: 20px;"><button type="button" onclick="window.location.href='home.html'" style ="margin-left: 5%; width: 10%; height: 8%">Back</b></button>
    <b style ="font-size: 20px;"><button type="button" onclick="javascript:window.print()" style ="margin-left: 63%; width: 10%; height: 8%; ">Print</b></button>

  <div th:replace="fragments/footer::footer"></div>
    
  </body>
</html>