<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>Examination Schedule Form</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
  <div th:replace="fragments/header :: header"></div>

  <div class="container-fluid">
    <h2 class="text-center">[[${pageTitle}]]</h2>

    <div class="my-3">
      <form th:action="@{/schedule/save}" method="POST" enctype="multipart/form-data" th:object="${examType}"
        style="max-width: 550px; margin: 0 auto">

        <input type="hidden" th:field="*{ExaminationId}" />

        <div class="p-3">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="ExaminationDate">Date</label>
            
            <!--
            <div class="col-sm-9">
              <input type="text" th:field="*{ExaminationDate}" required minlength="3" maxlength="15" class="form-control"
                id="ExaminationDate" />
            </div>
            -->
	          <input type="date" style = "margin-left:3%" th:field="*{ExaminationDate}" id="ExaminationDate" class="form"/>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="ExaminationTime">Time</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{ExaminationTime}" minlength="2" maxlength="256" class="form-control"
                id="ExaminationTime" />
                
            </div>
          </div>
          
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="SubjectId">Subject Id</label>
            <div class="col-sm-9">
             
              
              <select name="subject" id="subject" th:field="*{subject.SubjectId}">
				<option th:each="subj : ${Subjects}" 
							th:value="${subj.getSubjectId()}"
							th:text="${subj.getSubjectCode()}+ '-' +${subj.getSubjectName()}"	
				/>
			  </select>
            </div>
          </div>
          
           <div class="form-group row"> 
            <label class="col-sm-3 col-form-label" for="LecturerId">Lecturer Id</label>
            <div class="col-sm-9">
              <!--
              <input type="text" th:field="*{lecturer.LecturerId}" minlength="1" maxlength="256" class="form-control"
                 />
                 -->
                 
                 <select name="lecturer" id="lecturer" th:field="*{lecturer.LecturerId}">
				<option th:each="lect : ${Lecturers}" 
							th:value="${lect.getLecturerId()}"
							th:text="${lect.getLecturerId()}+ '-' +${lect.getLecturerName()}"	
							
				/>
				</select>
            </div>
            </div>

			<div class="form-group row">
            <label class="col-sm-3 col-form-label" for="UnitId">Unit Id</label>
            <div class="col-sm-9">
              
              <!--
              <input type="text" th:field="*{unit.UnitId}" minlength="1" maxlength="256" class="form-control"
              />
              -->
              
              <select name="venue" id="venue" th:field="*{unit.UnitId}">
				<option th:each="Unit : ${examUnit}" 
							th:value="${Unit.getUnitId()}"
							th:text="${Unit.getUnitId()}+ '-' +${Unit.getUnitName()}"		
				/>
			  </select>
            </div>
          </div>

          <div class="text-center">
            <input type="submit" value="Save" class="btn btn-primary btn-sm mr-2" />
            <input type="button" value="Cancel" id="btnCancel" class="btn btn-secondary btn-sm" />
          </div>
        </div>
      </form>
    </div>
  </div>

  <div th:replace="fragments/footer :: footer"></div>

  <script type="text/javascript">
    $(document).ready(function () {
      $("#btnCancel").on("click", function () {
        window.location = "[[@{/schedule}]]";
      });
    });
  </script>

</body>

</html>