<header th:fragment="header">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/schedule}">
      <b>Examination Attendance System</b>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="topNavbar">
      <ul class="navbar-nav">
  
  	<!-- A menu link to lists attendance -->
        <li class="nav-item">
          <a class="nav-link" th:href="@{/schedule}">Record Attendance</a>
        </li>
        
      
      	<!-- A menu link to lists attendance -->
        <li class="nav-item">
          <a class="nav-link" th:href="@{/report}">Attendance Report</a>
        </li>
      	
      

        <!-- A menu link to record attendance by venue -->
        <li class="nav-item">
          <a class="nav-link" th:href="@{/AttendanceVenue}">Examination Attendance by Venue</a>
        </li>

       <!--
        <li class="nav-item">
          <a class="nav-link" th:href="@{/examinationattendance/save}">Record Attendance</a>
        </li>
        --> 

      </ul>
    </div>
  </nav>
  <marquee direction = "right" scrollamount = "15" style = "color: white; background-color: blue;  font-family: 'Times New Roman';">
     <b>Examination Attendance System BITP3123 Group 10</b>
    </marquee>
</header>