<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href = "static/css/attendance.css" />
    <marquee direction = "right" scrollamount = "15"> Examination Attendance System BITP3123 Group 10</marquee>
    <title>Attendance - Examination Attendance System</title>
    <div class="topnav">
        <div class = "topnav-centered">
        <a class="Home" href="home.html">Home</a>
        <a href="schedule.html" th:href="@{/list}">Examination Schedule</a>
        <a href="attendance.html">Attendance Report</a>
        <a href="AttendanceVenue.html">Attendance By Venue</a>
        </div>
      </div>
    <br>
</head>
<body>
   
      <br>
    <h1><u>Attendance Report Generation</u></h1>
    <h4>
        <b id = "type1">Examination Date:</b>
        <input type="Input Your Matric Card" style = "margin-left: 0.5%; width: 15%; height: 5%;">
        <b id = "type2" style = "margin-left: 10.5%;">Time:</b>
        <input type="Input Your Matric Card" style = "width: 15%; height: 5%;">

        <br><br>
        <label>Subject Code:</label>
        <input type="Input Your Matric Card" style = "margin-left: 3%; width: 15%; height: 5%;">
        <b id = "type2" style = "margin-left: 5%;">Subject Name:</b>
        <input type="Input Your Matric Card" style = "width: 25%; height: 5%;">
        
        <br><br>
        <b id = "type3">Teaching Lecturer:</b>
        <input type="Input Your Matric Card" style = "width: 75%; height: 5%;">

        <br><br>
        <b id = "type4">Invigilator:</b>
        <input type="Input Your Matric Card" style = "margin-left: 5%; width: 75%; height: 5%;">
        
        <br><br>
        <b id = "type4">Examination Venue:</b>
        <input type="Input Your Matric Card" style = "width: 74.5%; height: 5%;">

        <br><br>
        <div th:if="${attendances.size() > 0}">
        <table border="5px" cellpadding="5" cellspacing="5">
            <tr><td colspan = "7" style="text-align: center; font-family: Century Gothic; font-size: 25px; margin-left: 5%;"><b> 
                Examination Attendance </b></td></tr>
            <tr>
                <th style="width:80px">Matric No</th>
                <th style="width:200px">Student Name</th>
                <th>Course</th>
                <th>Faculty</th>
                <th>Attendance Date</th>
                <th>Attendance Time</th>
                <th>Attendance Status</th>
            </tr>
            <tbody>
                <tr th:each="attendance : ${attendances}">
                    <th scope="row">[[${attend.StudentMatricNo}]]</th>
                    <td>[[${attend.StudentMatricNo}]]</td>
                    <td>[[${attend.Subject}]]</td>
                    <td></td>
                    <td>[[${attend.InputType}]]</td>
                    <td><span id='date-time'></span></td>
                    <td></td>
            <tbody>
        </table>
        </div>
    </h4>
    <b style ="font-size: 20px;"><button type="button" onclick="window.location.href='home.html'" style ="margin-left: 5%; width: 10%; height: 8%">Back</b></button>
    <b style ="font-size: 20px;"><button type="button" onclick="javascript:window.print()" style ="margin-left: 70%; width: 10%; height: 8%; ">Print</b></button>
</body>
</html>