<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

    <marquee direction = "right" scrollamount = "15"> Examination Attendance System BITP3123 Group 10</marquee>
    <title>Schedule - Examination Attendance System</title>
    <div class="topnav" th:replace="static/css::schedule.css">
        <a class="Home" href="home.html">Home</a>
        <a href="schedule.html">Examination Schedule</a>
        <a href="attendance.html">Attendance Report</a>
        <a href="AttendanceVenue.html">Attendance By Venue</a>
      </div>
    <br>

    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
   
  <br>
  <h1><u>Examination Schedule Generation</u></h1>
  <h4>
      <b id = "type1">Name:</b>
      <input type="Input Your Matric Card" style = "margin-left: 0.5%; width: 25%; height: 5%;">
      <b id = "type2" style = "margin-left: 5.5%;">Faculty:</b>
      <input type="Input Your Matric Card" style = "margin-left: 3.5%; width: 15%; height: 5%;">
      <b id = "type2" style = "margin-left: 5.5%;">Year of Study:</b>
      <input type="Input Your Matric Card" style = "margin-left: 3.5%; width: 8%; height: 5%;">

      <br><br>
      <label>Matric Number:</label>
      <input type="Input Your Matric Card" style = "margin-left: 2%; width: 18.5%; height: 5%;">
      <b id = "type2" style = "margin-left: 5%;">Course:</b>
      <input type="Input Your Matric Card" style = "margin-left: 3.5%;width: 25%; height: 5%;">
      
      <br><br>
      <label>Phone Number:</label>
      <input type="Input Your Matric Card" style = "margin-left: 2%; width: 18.5%; height: 5%;">
      <b id = "type2" style = "margin-left: 5%;">Session/Group:</b>
      <input type="Input Your Matric Card" style = "width: 25%; height: 5%;">

      <br><br>
      <table border="5px" cellpadding="4" cellspacing="4">
          <tr><td colspan = "5" style="text-align: center; font-family: Century Gothic; font-size: 25px; margin-left: 10%;"><b> 
            Examination for Semester 2 Year 2022/2023 </b></td></tr>
            <tr>
              <th style="width:150px">Subject Code</th>
              <th style="width:400px">Subject Name</th>
              <th style="width:150px">Date</th>
              <th style="width:150px">Time</th>
              <th style="width:200px">Venue</th>
          </tr>
      </table>
  </h4>
    <b style ="font-size: 20px;"><button type="button" onclick="window.location.href='home.html'" style ="margin-left: 5%; width: 10%; height: 8%">Back</b></button>
    <b style ="font-size: 20px;"><button type="button" onclick="javascript:window.print()" style ="margin-left: 63%; width: 10%; height: 8%; ">Print</b></button>
</body>
</html>